/* =========================================================================
                                Classe générique
========================================================================= */

    /* =========================================================================
                                    Display & position
    ========================================================================= */

    /* =========================================================================
                                    Flex Box
    ========================================================================= */

    /* =========================================================================
                                    Margin & Padding
    ========================================================================= */
    .nomargin{margin: 0;}
    .nopadding{padding: 0;}

    .mtb-15{margin: 15px 0;}
    .mtb-60{margin: 60px 0;}

    .mlr-auto{margin: 0 auto;}

    .mt-20{margin-top:20px;}
    .mt-50{margin-top: 50px;}
    .mt-70{margin-top: 70px;}

    .mb-10{margin-bottom: 10px;}
    .mb-20{margin-bottom: 20px;}
    .mb-50{margin-bottom: 50px;}

    .mr-15{margin-right: 15px;}
    
    .ptb-60{padding: 60px 0;}
    .ptb-100{padding: 100px 0;}

    .p-20{padding: 20px;}

    .p-40-20{padding: 40px 20px;}

    /* =========================================================================
                                    Height + Width
    ========================================================================= */

    .h100vh{height:100vh;}

    /* =========================================================================
                                    Font-size & Font-family
    ========================================================================= */

    .fs-20{font-size: 20px;}
    .fs-35{font-size: 35px;}

    /* =========================================================================
                                Color & Background/filtre & border
    ========================================================================= */

    .color-1{color: #FAFAFA;} /* Gris */
    .color-2{color: #98A0AA;} /* Gris font */
    .color-3{color: #F9F9F9;} /* Gris des input text */
    .color-4{color: #C8C8C8;} /* Gris des font input text*/
    .color-5{color: #F4F4F4;} /* Gris dans "Our team" */
    .color-5{color: #1C1D21;} /* Noir dans "Our team" */
    .color-6{color: #6195FF;} /* Bleu */
    .color-7{color: #23527c;} /* Bleu pour les hover*/
    
    .bg-img-1{background: url(../img/background1.jpg) center 0 no-repeat fixed; background-size: cover;}
    

    .bg-1{background-color: #FAFAFA;}

    .bg-transparent{background: transparent;}
    .filter-black{background-color:rgba(28, 29, 33, 0.8);} /* filtre noir sur un élément*/

    .border-1{border: 1px solid #6195FF;}
    /* =========================================================================
                                    Text align & decoration
    ========================================================================= */



    /* =========================================================================
                                    Géneral Générique
    ========================================================================= */
    
/* =========================================================================
                                Spécifique
========================================================================= */

    /* =========================================================================
                                    Géneral Spécifique
    ========================================================================= */

    .rounded-div{
        width: 140px;
        height: 140px;
        border-radius: 50%;
        border: 1px solid #6195FF;
    }
    .bg-img-2{
        background: url(../img/background2.jpg) center center fixed;
        background-size: cover;
        position: absolute;
        top:0;
        bottom:0;
        right:0;
        left:0;
        z-index: -1;
    }
    .filter-black-absolute{
        background-color:rgba(28, 29, 33, 0.8);
        position: absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        z-index:6;
    }

    /* =========================================================================
                                    Séparateur
    ========================================================================= */

    .separator::after{      /* Séparateur centré */
        content: "";
        display: block;
        height: 4px;
        width: 40px;
        background-color: #6195FF;
        margin: 20px auto 0px;
        text-align: center;
    }

    .separator-2::after{    /* Séparateur à gauche */
        content: "";
        display: block;
        height: 4px;
        width: 40px;
        background-color: #6195FF;
        margin-top: 20px;
        text-align: center;
    }
    /* =========================================================================
                                    NAV
    ========================================================================= */

    /* =========================================================================
                                    Button
    ========================================================================= */

    .p-button{padding:1% 3% 1% 3%;}

    .hover-btn:hover{color: #23527c; border-color: #6195FF;}
    
    /* =========================================================================
                                    Font Icon
    ========================================================================= */
    .fa{color: #6195FF;}

    .fa-check{             /* Style de la Font icon check section 4 */
        border: 1px solid #6195FF;
        padding: 5px;
        border-radius: 50%;
        margin-right: 5px;
    }

    /* Style pour les blocs précedent et suivant dans le carrousel */

    .left-0{left: 0;}   /* Création des classes left et right pour factoriser, et éviter 2 classes previous-next */
    .right-0{right: 0;}

    .previous-next{     /* Bouton bleu qui contient le span + le lien */
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #6195FF;
        color: #6195FF;
        border-radius: 3px;
        width: 50px;
        height: 50px;
    }
    .previous-next:hover{
        background-color: rgba(35, 82, 124, 0.8);
    }
    
    .carousel:hover .previous-next{ /* Quand le carrousel est en hover, affiche toi */
        display: block;
    }

    .fa-angle-right, .fa-angle-left{    /* Positionnement font icon < > du carrousel */
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50% ,-50%);
    }

    /* =========================================================================
                                    Carrousel
    ========================================================================= */

    /* Style des boutons pour switch d'un article à un autre */

    .carousel-indicators li{    /* Création des boutons sous forme de rond */

        width:10px;
        height: 10px;
        border-radius: 50%;
        margin: 5px 5px;
        background-color: #eee;
    }

    .carousel-indicators li:hover{  /* Changement de couleur quand on est au survol */

        background-color: #6195FF;
    }

    .carousel-indicators .active    /* Changement d'état pour celui en cours */
    {
        background-color: #6195FF;
        border-radius: 5px;
        width: 20px;
    }