/* =========================================================================
                                Classe générique
========================================================================= */

    /* =========================================================================
                                    Display & position
    ========================================================================= */

    /* =========================================================================
                                    Flex Box
    ========================================================================= */

    /* =========================================================================
                                    Margin & Padding
    ========================================================================= */
    .nomargin{margin: 0;}
    .nopadding{padding: 0;}

    .mtb-15{margin: 15px 0;}

    .mt-50{margin-top: 50px;}

    .mb-20{margin-bottom: 20px;}
    .mb-50{margin-bottom: 50px;}

    .mr-15{margin-right: 15px;}
    
    .ptb-100{padding: 100px 0;}

    .p-20{padding: 20px;}

    .p-40-20{padding: 40px 20px;}
    /* =========================================================================
                                    Height + Width
    ========================================================================= */

    /* =========================================================================
                                    Font-size & Font-family
    ========================================================================= */

    .fs-20{font-size: 20px;}
    .fs-35{font-size: 35px;}



    /* =========================================================================
                                Color & Background & border
    ========================================================================= */

    .color-1{color: #FAFAFA;} /* Gris */
    .color-2{color: #98A0AA;} /* Gris font */
    .color-3{color: #F9F9F9;} /* Gris des input text */
    .color-4{color: #C8C8C8;} /* Gris des font input text*/
    .color-5{color: #F4F4F4;} /* Gris dans "Our team" */
    .color-5{color: #1C1D21;} /* Noir dans "Our team" */
    .color-6{color: #6195FF;} /* Bleu */
    
    
    /* =========================================================================
                                    Text align & decoration
    ========================================================================= */



    /* =========================================================================
                                    General
    ========================================================================= */

/* =========================================================================
                                Spécifique
========================================================================= */
    /* =========================================================================
                                    Section 2
    ========================================================================= */

    .separator::after{
        content: "";
        display: block;
        height: 4px;
        width: 40px;
        background-color: #6195FF;
        margin: 20px auto 0px;
        text-align: center;
    }
    /* =========================================================================
                                    NAV
    ========================================================================= */

    /* =========================================================================
                                    Button
    ========================================================================= */